body {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
}

/********************** H E A D E R **************************************/
#header {
    background-color: #141414;
    border-color: #2e2f33;
    height: 80px;
}

#header-links {
    background-color: #141414;
    height: 80px;
}

#header-links a, .header-links a:visited {
    line-height: 80px;
    padding: 0 10px;
    padding: 28px 10px;
}

#header-links a:hover {
    color: #1ead29;
}

.logo-header {
    margin-top: 20px;
}

.logo {
    background: url('/static/imgs/logo.png') no-repeat;
    background-size: 100px 43px;
    width: 100px;
    height: 43px;
    display: block;
}

.logo:hover {
    background: url('/static/imgs/logo-hover.png') no-repeat;
    background-size: 100px 43px;
    width: 100px;
    height: 43px;
    display: block;
}

/****************** CUSTOM TEMPLATES *****************/
::-webkit-input-placeholder {
    color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;  
}

:-ms-input-placeholder {  
    color: #ccc;  
}

.small {
    font-size: 12px;
}

.white {
    color: #f8f8f8;
}

.lightgrey {
    color: #aaa;
}

.darkgrey {
    color: #333;
}

.grey {
    color: #777;
}

.font-light {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
}

.font {
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.safe {
    border-top: solid 1px #ddd;
    padding: 20px;
}

.info {
    font-size: 12px;
    padding: 0;
}

form .row .row {
    margin: 0;
}

.info-label {
    width: 30px;
    text-align: center;
    font-size: 16px;
    background-color: #324E59;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 900;
    color: #f8f8f8;
    border-radius: 5px;
}

/******************* SIGNUP FORM *********************/
.form-signup > #remember {
    height: 20px;
}

.form-signup #remember label {
    height: 40px; 
}

.form-signup #remember #id_remember {
    height: 20px; 
}

.form-signup > .row {
    text-align: center;
    margin: 20px auto 0px auto;
}

.form-signup .errorlist {
    margin: 0px auto;
    color: #bd3200;
    font-size: 13px;
    list-style: none;
    text-align: left;
    margin-top: 5px;
}

.form-signup input {
    border-radius: 5px;
    height: 50px;
    margin: 0px auto;
}

.button-form:hover {
    background-color: #1ead29;
}
/***************************************************/
.logo-big {
    width: 200px;
    height: 86px;
}

.logo-big-wrapper {
    border-bottom: solid 1px #ddd;
    padding: 20px;
}

.row {
    max-width: 1200px;
}

#banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    border: solid 1px black;
    text-align: center;
    overflow: hidden;
}

#title-container {
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-top: 4%;
    margin-bottom: 4%;
}

@font-face {
    font-family: Circular; 
    src: url('/static/fonts/circular-bold.woff');
}

@font-face {
    font-family: CircularLight; 
    src: url('/static/fonts/circular-light.woff');
}

.butt-alt, .butt-alt {
    border: solid 1px #ccc;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #666;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 2px;
}

.butt-alt:hover {
    border: solid 1px #666;
    color: #666;
}

.butt, .butt:visited {
    border-radius: 5px;
    transition: all 0.15s ease 0s;
    color: #f8f8f8;
    border-radius: 5px;
    background-color: #2ebd59;
    border: none;
    transition: all 0.15s ease 0s;
    width: 100%;
}

.butt:hover {
    background: #1ead29;
    color: #f8f8f8;
}

.button-container {
    margin-top: 20px;
}

.butt-huge {
    background: #2ebd59;
    padding: 20px 30px;
    font-size: 36px;
    color: #f8f8f8;
}

#title {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 64px;
    line-height: 1;
    font-weight: 600;
    color: #f8f8f8;
    -webkit-text-shadow: 2px 2px #222;
    -moz-text-shadow: 2px 2px #222;
    text-shadow: 2px 2px #222;
}

#build-title {
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-size: 48px;
    color: #f8f8f8;
    -webkit-text-shadow: 2px 2px #222;
    -moz-text-shadow: 2px 2px #222;
    text-shadow: 2px 2px #222;
    margin-top: 50px;
}

#build-subtitle {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
    color: #e8e8e8;
    line-height: 1.2;
    font-size: 26px;
    font-weight: 200;
    -webkit-text-shadow: 1px 1px #222;
    -moz-text-shadow: 1px 1px #222;
    text-shadow: 1px 1px #222;
}

#subtitle {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
    color: #e8e8e8;
    line-height: 1.2;
    font-size: 32px;
    font-weight: 200;
}

.button-form {
    background-color: #2ebd59;
    border: none;
    transition: all 0.15s ease 0s;
    width: 100%;
    color: #f8f8f8;
    border-radius: 5px;
}

/******************* BUILD FORM COMMON *******************/
.form-build .errorlist {
    margin: 0px auto;
    color: #bd3200;
    font-size: 13px;
    list-style: none;
    text-align: left;
}

.form-build input {
    border-radius: 5px;
    height: 50px;
    margin: 0;
}

.form-build .row {
    margin: 10px auto;
}

#form-build-theme .form-delimit .row {
    margin: 0;
}

.form-delimit {
    border-bottom: solid 1px #ddd;
    text-align: center;
    padding: 0;
}

.form-delimit-nr {
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 30px;
    background-color: #ddd;
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 900;
    font-size: 16px;
    cursor: default;
}

.form-delimit strong {
    background: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
/******************* BUILD THEME FORM *********************/
.build-theme-options-title {
    font-size: 32px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: #565656;
}

#build-theme-wrapper {
    background: url('/static/imgs/bg-build-theme.jpg') no-repeat;
    background-size: cover;
    min-height: 300px;
}

#build-theme-wrapper h1 {
    color: #2ebd59;
    margin-top: 80px;
}

#form-build-theme .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
#form-build-theme > .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

#build-theme-colors .build-theme-color {
    display: block-inline;
    float: left;
    width: 20%;
    height: 50px;
}

#build-theme-colors .build-theme-color-wrap {
    border: solid 1px #aaa;
    width: 100%;
    height: 52px;
    position: relative;
}

.build-theme-color-wrap-bottom {
    height: 10px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#build-theme-colors {
    margin-top: 0px;
}

#build-theme-colors .selected {
    border: solid 2px #324e59;
}

#build-theme-colors li {
    padding: 5px;
    border: solid 2px #fff;
    height: 80px;
    margin-top: 5px;
    border-radius: 5px;
}

#build-theme-colors li:hover {
    border: solid 2px #324e59;
    cursor: hand;
    cursor: pointer;
}

.build-theme-name {
    font-size: 12px;
}

#build-theme-bg-images img {
    width: 100px;
}

#build-theme-bg-images .selected {
    border: solid 2px #324e59;
}

#build-theme-bg-topics .active {
    color: #f8f8f8;
    background-color: #324e59;
}

ul#build-theme-bg-topics {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}

#build-theme-bg-topics li {
    display: inline;
    padding: 10px;
}

#build-theme-bg-topics li:hover {
    cursor: hand;
    cursor: pointer;
}

#build-theme-bg-images li {
    text-align: center;
    padding: 5px;
    border: solid 2px transparent;
    border-radius: 5px;
}

#build-theme-bg-images li:hover {
    border: solid 2px #324e59;
    cursor: hand;
    cursor: pointer;
}

#build-theme-preview {
    padding: 4.5% 9% 0 9%;
    cursor: default;
    background: url('/static/imgs/ipad.png') no-repeat;
    background-size: 100%;
    -webkit-text-shadow: 0px 0px 2px 0px #222;
    -moz-text-shadow: 0px 0px 2px 0px #222;
    text-shadow: 0px 0px 2px 0px #222;
}

#build-theme-preview .row {
    margin: 0;
}

#build-theme-preview #build-theme-preview-nav {
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    height: 40px;
    padding-top: 10px;
}

#build-theme-preview #build-theme-preview-nav-logo {
    border-radius: 3px;
    padding: 5px;
    border: solid 1px #f8f8f8;
    color: #1ead29;
}

#build-theme-preview #build-theme-preview-header-wrapper {
    background: none;
    background-size: cover;
    background-image: url('/static/imgs/bg/bar1.jpg');
}

#build-theme-preview #build-theme-preview-header-title {
    margin-top: 5%;
    font-size: 40px;
    font-weight: 600;
    color: #f8f8f8;
    -webkit-text-shadow: 2px 2px #222;
    -moz-text-shadow: 2px 2px #222;
    text-shadow: 2px 2px #222;
    line-height: 1;
}

#build-theme-preview #build-theme-preview-header-subtitle {
    -webkit-text-shadow: 1px 1px #222;
    -moz-text-shadow: 1px 1px #222;
    text-shadow: 1px 1px #222;
    font-size: 16px;
    color: #e8e8e8;
    font-weight: 200;
    line-height: 1;
}

#build-theme-preview #build-theme-preview-header-button {
    border-radius: 5px;
    color: #f8f8f8;
    background: #2ebd59;
    padding: 10px 2px;
    font-size: 12px;
    margin: 5px auto 45% auto;
    width: 60%; 
}

#build-theme-preview #build-theme-preview-body {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 8px;
    margin-top: 10px;
}

#build-theme-preview #build-theme-preview-body p {
    font-size: 8px;
    margin: 0;
}

#build-theme-preview #build-theme-preview-body b {
    font-size: 8px;
    margin: 0;
    font-weight: 900;
}
/******************* BUILD HOME FORM *********************/
#build-home-wrapper {
    background: url('/static/imgs/bg-build-home.jpg') no-repeat;
    background-size: cover;
    min-height: 160px;
}

.build-home-options-title {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#build-home-buttons .selected {
    border: solid 2px #324e59;
}

#build-home-buttons .button-type {
    padding: 10px;
}

#build-home-buttons li {
    border: solid 2px #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

#build-home-buttons li:hover {
    border: solid 2px #324e59;
    cursor: hand;
    cursor: pointer;
}

.form-build #id_background {
    height: 25px;
}

.form-build textarea {
    border-radius: 5px;
    height: 150px;
    margin: 0;
}

.form-build .small-hint {
    font-size: 12px;
}

/******************* BUILD NAME FORM *********************/
#build-name-wrapper {
    border-top: solid 1px #000;
    background: url('/static/imgs/bg-build-name.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

#build-name-opaque-wrapper2 {
    margin-top: 30px;
    height: 100px;
}

#build-name-opaque-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#build-name-input {
    border-radius: 10px;
    height: 50px;
    border: solid 3px #1ead29;
    background: url('/static/imgs/find.png') no-repeat 10px;
    background-size: 20px;
    padding-left: 50px;
    background-color: #fff;
    margin: 20px 0;
}

.build-name-heading {
    font-size: 18px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #324E59;
}

.build-name-options-data {
    padding-top: 70px;
    display: none;
}

.build-name-options-row {
    padding: 20px 0;
}

.dark-wrapper {
    background-color: #f5f5f5;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.build-name-url {
    text-align: center;
    font-size: 20px;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.build-name-url b {
    font-size: 20px;
    color: #1ead29;
}

#build-name-options-wrapper {
    font-size: 14px;
}

#build-name-options-wrapper p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.build-name-options-data img {
    width: 50px;
    height: 50px;
}

#build-name-form input.butt {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin-top: -10px;
}

.price {
    font-size: 16px;
    border-top: solid 5px #1ead29;
    font-family: Circular, Helvetica, Arial, sans-serif;
    background-color: #2ebd59;
    color: #f8f8f8;
    padding: 10px;
    display: inline-block;
}

.build-name-options-description h4 {
    color: #565656;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

.build-name-options-description p {
    text-align: left;
    color: #565656;
    font-size: 14px;
    line-height: 20px !important;
}
/********************* HOME SITES *******************/
#home-sites-wrapper {
    border-top: solid 1px #000;
    background: url('/static/imgs/bg-home-sites.jpg') no-repeat;
    background-size: cover;
    position: relative;
    min-height: 300px;
}

#home-sites-wrapper h1 {
    margin-top: 100px;
    font-size: 72px;
}

#home-sites h1, h2, h3, h4, h5, h6 {
    font-family: CircularLight, Helvetica, Arial, sans-serif;
}

#home-sites .home-sites-row {
    margin: 10px 0;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);

}

#home-sites {
    background-color: #f5f5f5;
    border-top: solid 1px #ddd;
}

#home-sites h4 {
    font-size: 32px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #585858;
}

a.home-sites-edit-button {
    display: inline-block;
    margin-top: 10px;
    border-bottom: solid 1px #188721;
    color: #f8f8f8;
    background-color: #1ead29;
    font-family: Circular, Helvetica, Arial, sans-serif;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 2px;
}

a.home-sites-edit-button:hover {
    background-color: #47c751;
}

div.home-sites-add {
    margin: 10px auto;

}
/****************************************************/


/********************** EDIT **********************************************/
/********************** EDIT **********************************************/
/********************** EDIT **********************************************/

#edit .row {
    max-width: 2500px;
    border: solid 1px red;
    padding: 0;
}

#edit .columns {
    border: solid 1px blue;
}

div#edit-header {
    background-color: #4b4b4b;
    color: #f5f5f5;
}
