{% extends "base.html" %}
{% load staticfiles %}
{% block title %} // build{% endblock title %}
{% block container %}
    <script>
        var build_home_data ={ {% for k, v in data.items %}'{{k}}':'{{v}}',{% endfor %} }
    </script>
    <form id="form-build-home" class="form-build" method="POST" action="">
        {% csrf_token %}
        {% include "build-info.html" %}
        <div class="row">
           <div class="form-delimit medium-6 medium-offset-3 end">
                <strong class="font">
                    Home page
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="columns medium-6 medium-offset-3 end">
                <label for="id_title">
                    Choose a website title
                </label>
                {{ build_home_form.title }}
                {% if build_home_form.title.errors %}
                    {{ build_home_form.title.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="columns medium-6 medium-offset-3 end">
                <label for="id_motto">
                    Website motto. (recommended)
                </label>
                {{ build_home_form.motto }}
                {% if build_home_form.motto.errors %}
                    {{ build_home_form.motto.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="columns medium-6 medium-offset-3 end">
                <label for="id_description">
                    Website description (recommended)
                </label>
                {{ build_home_form.description }}
                {% if build_home_form.description.errors %}
                    {{ build_home_form.description.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="columns medium-2 medium-offset-5 end">
                <input class="button-form" type="submit" value="Next">
            </div>
        </div>
        {% include 'ipad_preview.html' %}
    </form>
{% block footer %}{% endblock %}
{% endblock container %}
