<div class="row">
    <div id="build-theme-preview" class="columns text-center small-offset-2 small-8 end">
        <div id="build-theme-preview-nav">
            <div class="row">
                <div class="text-center font columns small-offset-2 small-1">
                    <span id="build-theme-preview-nav-logo" class="font">
                        VY
                    </span>
                </div>
                <div class="columns small-offset-3 small-1">
                    Home
                </div>
                <div class="columns small-1">
                    Service
                </div>
                <div class="columns small-1">
                    About
                </div>
                <div class="columns small-1 end">
                    Contact
                </div>
            </div>
        </div>
        <div id="build-theme-preview-header-wrapper">
            <div class="row">
                <div id="build-theme-preview-header-title" class="text-center font columns medium-offset-2 medium-8 end">
                    Vandelay Industries
                </div>
            </div>
            <div class="row">
                <div id="build-theme-preview-header-subtitle" class="text-center columns medium-offset-3 medium-6 end">
                    The latex manufacturing company
                </div>
            </div>
            <div class="row">
                <div class="text-center columns small-offset-5 small-2 font end">
                    <div id="build-theme-preview-header-button">Services</div>
                </div>
            </div>
        </div>
        <div id="build-theme-preview-body" class="row">
            <div class="text-left columns small-offset-2 small-4">
                <p><b>About our business</b></p>
                This is a show about nothing; however, for a show about nothing, this show has
                many complex plots, sub-plots, is very well written and put together. So much
                so that until the public caught onto the series, the television critics were
                responsible for helping to keep it alive. The critics further went on and made
            </div>
            <div class="text-left columns small-4 end">
                <p><b>About our business</b></p>
                <p>
                Vandelay Industries is a fictional company that George Costanza claims 
                Vandelay Industries is a fictional company that George Costanza claims 
                to have been interviewed for as a latex salesman in when applying 
                </p>
                <p><b>About our business</b></p>
            </div>
        </div>
    </div>
</div>
