{% extends "base.html" %}
{% load staticfiles %}
{% block title %} // sign up{% endblock title %}
{% block header %}
{% endblock header %}
{% block container %}
    <div class="logo-big-wrapper">
        <div class="row text-center">
            <div class="medium-12 columns">
                <img class="logo-big" src="{% static "imgs/logo-black-hover.png" %}" />
            </div>
        </div>
    </div>
    <form class="form-signup" method="post" action="">
        {% csrf_token %}
        <div class="row text-center">
            <div class="medium-4 medium-offset-4 end columns">
                {{ login_form.username }}
                {% if login_form.username.errors %}
                    {{ login_form.username.errors }}
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <div class="medium-4 medium-offset-4 end columns">
                {{ login_form.password }}
                {% if login_form.password.errors %}
                    {{ login_form.password.errors }}
                {% endif %}
            </div>
        </div>
        <div id="remember" class="row">
            <div class="medium-4 medium-offset-4 end columns">
                <div class="row">
                    <div class="medium-1 columns">
                        {{ login_form.remember }}
                    </div>
                    <div class="medium-4 columns end text-left">
                        <label for="id_remember">
                            Remember me
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="medium-4 medium-offset-4 end columns">
                {{ login_form.non_field_errors }}
                <input class="button-form white font-light" type="submit" value="Log In" />
            </div>
        </div>
        <div class="row">
            <div class="medium-4 medium-offset-4 end columns">
                If you don't have an account, <a href="{% url 'signup' %}">Sign Up</a> here.
            </div>
        </div>
        <div class="row">
            <div class="safe small text-left medium-4 medium-offset-4 end columns lightgrey">
                We will not share any of your account information with anyone.
                Not even affiliates or marketing companies.
            </div>
        </div>
    </form>
{% endblock container %}
